<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blogify</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <% if(locals.user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/blog/add-new-blog">Add Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= locals.user.email %>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/signin">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signup">Create Account</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<style>
  .alert {
    background-color: #f8d7da; /* Light red background color */
    color: #721c24; /* Dark red text color */
    padding: 15px 20px; /* Add padding for better spacing (top/bottom and left/right) */
    border: 1px solid #f5c6cb; /* Add a border */
    border-radius: 4px; /* Rounded corners */
    width: fit-content; /* Make the width fit the content */
    margin: 0 auto; /* Center the alert horizontally */
    text-align: center; /* Center the text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }
</style>
<% if (locals.error) { %>
<div class="d-flex justify-content-center">
  <div class="alert alert-danger w-100 text-center" role="alert">
    <%= locals.error %>
  </div>
</div>
<% } %>
