<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/users" method="post">
      <label for="fullname">full Name</label>
      <input type="text" id="fullname" name="fullname" value="<%= locals.fullname %>" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
