<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>expressJS</title>
  </head>
  <body>
    <p>Hello ,<%= locals.name || "World"%></p>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum
      numquam magni nulla possimus dolor rerum, commodi quas dolorem culpa
      voluptate excepturi, iure enim aliquid dignissimos sapiente eos. Ea,
      fugit.
    </h1>
  </body>
</html>
